:root {
    font-family: arial, helvetica, sans-serif;
}


hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


.how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 50px;
}


.how-it-works > h6{
    font-size: 18px;
}


.how-it-works > p{
    font-size: 18px;
}


.collect-info-container {
    margin-bottom: 150px;
}


.collect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3350f1;
    color: white;
    gap: 50px;
    border: solid 2px grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 100px;
    padding-right:100px;
}


.lorem-ipsum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}


.get-paid-container {
    margin-top: 80px;
    margin-bottom: 100px;
}


.get-paid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3350f1;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 2px grey;
    gap: 50px;
    padding-left: 100px;
    padding-right:100px;
}


/* Below are the CSS Styles for the Header that will also be used for Razvan's Landing page */


.navbar {
    overflow: hidden;
    background-color: white;
    margin-bottom: 50px;
}


.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a.right {
    float: right;
}


.navbar a:hover {
    color: #3350f1;
}


.navbar-sign-in-button {
    color: #3350f1;
    background-color: white;
    border: 1px solid #3350f1;
}


.navbar-sign-in-button a:hover {
    color: #3350f1;
}


.navbar-try-it-free-button {
    color: white;
    background-color: #3350f1;
    border: 1px solid #3350f1;
}


.navbar-try-it-free-button a:hover {
    color: white;
}


.nav-icon img { 
    height: 40%;
    width: 70%;
}


.header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.header-info {
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}


.header > h1{
    font-size: 65px;
    margin-bottom: 15px;
}


.header > h3{
    font-size: 33px;
}


.header i{
    color: #3350f1;
}


.header-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}


.sign-up-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3350f1;
    border: 1px solid #3350f1;
    padding: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
}


.chat-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#0d6efd;
    background-color: white;
    border: 1px solid #3350f1;
    padding: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

.double-tap {
    color: gray;
    margin-bottom: 30px;
    font-size: 20px;
}



/* Footer Start - CSS Styles from Razvan's Landing page */


.footer {
    background: #3350f1;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 70px;
}

.footer >h1 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;

}

.footer >h2 {
    font-size: 16px;
    font-weight: 550;
}

.get-started {
    color: white;
    background: #85d043;
}

.get-started:hover {
    background: white;
}

.chat {
    background: white;
    color: #3350f1;
}

.chat:hover {
    background: #85d043;
    color: white;
}

.buttons {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
}


.button {
    text-decoration: none;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px 10px;
}